section(class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills")
    div(class="my-auto")
        h2(class="mb-5") Skills

        div(class="subheading mb-3") Programming Languages &amp; Tools
        
        ul(class="list-inline list-icons")
            li(class="list-inline-item")
                i(class="devicons devicons-html5")

            li(class="list-inline-item")
                i(class="devicons devicons-css3")
            
            li(class="list-inline-item")
                i(class="devicons devicons-javascript")
            
            li(class="list-inline-item")
                i(class="devicons devicons-jquery")
            
            li(class="list-inline-item")
                i(class="devicons devicons-sass")
            
            li(class="list-inline-item")
                i(class="devicons devicons-less")
            
            li(class="list-inline-item")
                i(class="devicons devicons-bootstrap")
            
            li(class="list-inline-item")
                i(class="devicons devicons-wordpress")
            
            li(class="list-inline-item")
                i(class="devicons devicons-angular")
            
            li(class="list-inline-item")
                i(class="devicons devicons-laravel")
            
            li(class="list-inline-item")
                i(class="devicons devicons-nodejs")
            
            li(class="list-inline-item")
                i(class="devicons devicons-mongodb")
            
            li(class="list-inline-item")
                i(class="devicons devicons-grunt")
            li(class="list-inline-item")
                i(class="devicons devicons-gulp")
            li(class="list-inline-item")
                i(class="devicons devicons-npm")
            
        div(class="subheading mb-3") Workflow
        ul(class="fa-ul mb-0")
            li
                i(class="fa-li fa fa-check") 
                | Cross Functional Teams
            li
                i(class="fa-li fa fa-check") 
                | Agile Development &amp; Scrum
            li
                i(class="fa-li fa fa-check") 
                | Mobile-First Responsive Design
            li
                i(class="fa-li fa fa-check") 
                | Cross Browser Testing &amp; Debugging