.navbar .navbar-brand figure {
    margin: 0.5rem 0 0 0.5rem;
}

.navbar .navbar-brand .navbar-burger {
    margin-top: 0.5rem;
}

.navbar-start {
    width: 100%;
}

.navbar-start .navbar-item {
    flex-grow: 2;
}