.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-position: center center;
    background-image: url('./images/app-hero-banner-70.jpg');
}