.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-position: center center;
    background-image: url('./images/app-hero-banner-70.jpg');
}

@media only screen and (max-width: 768px) {    
    .hero {
        background-image: url('./images/app-hero-banner-768x512.jpg');
    }
}

@media only screen and (max-width: 500px) {
    .container { 
        bottom: 2%;
        position: absolute; 
    }
    .subtitle.is-size-7-mobile { font-size: 0.60rem !important;}
    .hero {                
        background-image: url('./images/app-hero-banner-500x333.jpg');
    }    
}