section(class="resume-section p-3 p-lg-5 d-flex d-column" id="about")
    div(class="my-auto")
        h1(class="mb-0") FAROOQ
            span(class="text-primary") KHAN        
        div(class="subheading mb-5") 
            a(href="tel:+923458546784") (92) 345-854-6784 &nbsp; &nbsp; &nbsp; &nbsp;            
            a(href="mailto:farooqkwork@gmail.com") farooqkwork@gmail.com        
        p(class="mb-5") Experienced full stack developer with focus on web applications leveraging &nbsp;
            a(href="http://mean.io/" target="_blank") MEAN &
            a(href="https://www.turnkeylinux.org/lampstack" target="_blank") LAMP 
            Stack.
        ul(class="list-inline list-social-icons mb-0")
            li(class="list-inline-item")
                a(href="//www.facebook.com/FaRooQ.Ahmed.Khan" target="_blank")
                    span(class="fa-stack fa-lg")
                        i(class="fa fa-circle fa-stack-2x")
                        i(class="fa fa-facebook fa-stack-1x fa-inverse")                                    

            li(class="list-inline-item" style="display:none;")
                a(href="")
                    span(class="fa-stack fa-lg")
                        i(class="fa fa-circle fa-stack-2x")
                        i(class="fa fa-twitter fa-stack-1x fa-inverse")                                    

            li(class="list-inline-item")
                a(href="//www.linkedin.com/in/farooqahmedkhan/" target="_blank")
                    span(class="fa-stack fa-lg")
                        i(class="fa fa-circle fa-stack-2x")
                        i(class="fa fa-linkedin fa-stack-1x fa-inverse")

            li(class="list-inline-item")
                a(href="//github.com/farooqahmedkhan" target="_blank")
                    span(class="fa-stack fa-lg")
                        i(class="fa fa-circle fa-stack-2x")
                        i(class="fa fa-github fa-stack-1x fa-inverse")                    