head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Full Stack| Angular JS | Angular 2 | Angular 4 | Angular 6| Angular CLI | Node JS | PHP | Laravel | Lumen | Vue JS | Ext JS| C#| Java SE")
    meta(name="author" content="Farooq Ahmed Khan")

    title Farooq Ahmed Khan | Full Stack Developer | Node JS | Angular | Vue JS | Firebase

    //- Bootstrap core CSS
    link(href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")

    //- Custom fonts for this template
    link(href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet")
    //- link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet")
    link(href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet")
    link(href="vendor/devicons/css/devicons.min.css" rel="stylesheet")
    //- link(href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet")

    //- Custom styles for this template -->
    link(href="css/resume.min.css" rel="stylesheet")