div(class="resume-item d-flex flex-column flex-md-row mb-5")
            div(class="resume-content mr-auto")
                h3(class="mb-0")
                    a(href="http://3ftechnologies.net" target="_blank") 3F Technologies (Private) Ltd.
                div(class="subheading mb-3") Software Engineer
                p Worked as web & desktop application optimization developer Assisted in requirement analysis for addition of new features in deployed solution.                
                p Payroll Module
                    br
                    ul
                        li End-to-end from biometric attendance to summarized reports
                        li Integrated biometric logging for automatic employees daily enrolment
                        li Monthly holidays circular issuance due to centralized information
                        li Employee monthly leave/presence from attendance and leave summary
                        li Detailed salary sheet gives you each and every bit of cash added/deducted
                        li Increment summary report, incremental growth of employees over a period
                p Academia Module
                    br
                    ul
                        li Student registration, fee management along with monthly variable discount policies
                        li Promoting students to further levels based on their term based results
                        li Portion for teacher to manage their daily, weekly course plans and time tables
                        li Track progress of teacher with the help of weekly and term based reports
                        li Provided an intra campus online solution, which monitors campus activities
                p Finance Module
                    br
                    ul
                        li Cash, Bank Deposit, Debit, Credit & Journal Vouchers interactive Info. flows
                        li Balance Sheets, Account Ledgers and Cash Flows
                        li System to migrate & integrate data across different deployment environments
                        li Integration of banking data with variety of portion as HR & Academic

            div(class="resume-date text-md-right")
                span(class="text-primary") October 2012 - August 2013
