div(class="resume-item d-flex flex-column flex-md-row")
    div(class="resume-content mr-auto")
            h3(class="mb-0")
                a(href="http://www.cr-pl.com" target="_blank") Computer Research (Private) Ltd.
            div(class="subheading mb-3") Software Development Intern
            p Computer Research (Private) Ltd. established in 1989, over the years has proved services excellence in Software, Hardware and Networking domains of Telecommunication Industry. I provided development support for day to day ORACLE database and GUI related issues in an sms management product 'Stub Collection System' deployed at PTA, Islamabad.                

    div(class="resume-date text-md-right")
        span(class="text-primary") June 2010 - August 2010