div(class="resume-item d-flex flex-column flex-md-row mb-5")
            div(class="resume-content mr-auto")
                h3(class="mb-0")
                    a(href="http://www.techarete.com" target="_blank") TechArete (Private) Ltd.
                div(class="subheading mb-3") Software Engineer
                p My responsibilities include core application development, testing, deployment and resolving support queries.
            
            div(class="resume-date text-md-right")
                span(class="text-primary") November 2010 - September 2012
