div(class="resume-item d-flex flex-column flex-md-row mb-5")
            div(class="resume-content mr-auto")
                h3(class="mb-0")
                    a(href="http://www.htdecisions.com" target="_blank") HT. (private) Ltd.
                div(class="subheading mb-3") Senior Software Engineer - Team Lead
                p HT Decisions provides offshore development services to clients in Europe specially Denmark.
                p For a year, I worked as a senior developer on an inbound marketing tool iPrezentr, for a danish client company [eHealth Nordic Apps]. Tool stack is based on MEAN stack mainly along with small components in React JS. I lead the team of two developers over a tenure of almost one year comprised of a back-end and a front-end developer.                
                p I also worked as a senior developer with client on a real-time web personalization tool called Monoloop and handling complete UI end based on PHP laravel stack with MonogoDB. My responsibilities are to maintain, develop existing & new features in tool UI, aligning all the integration possibilities within the main modules.
                    br
                    br 
                    Technology Stack:
                    ul
                        li Angular JS, Node JS
                        li PHP Laravel 5.3
                        li Webix (JS)
                        li C#, ASP.Net 4.0
                        li Redis, MongoDB, MySQL, SQL

            div(class="resume-date text-md-right")
                span(class="text-primary") January 2015 - July 2017
