div(class="resume-item d-flex flex-column flex-md-row mb-5")
    div(class="resume-content mr-auto")
        
        h3(class="mb-0")
            a(href="http://www.htdecisions.com" target="_blank") HT. (private) Ltd.
        
        div(class="subheading mb-3") Development Consultant
        p Hired for technical assistance on an ongoing project to existing dev team. My role was specific to product maintainance, troubleshooting of production level issues and setting up architechture for any upcoming features in existing product.                

    div(class="resume-date text-md-right")
        span(class="text-primary") July 2017 - September, 2018
