div(class="resume-item d-flex flex-column flex-md-row mb-5")
            div(class="resume-content mr-auto")
                h3(class="mb-0")
                    a(href="http://www.techarete.com" target="_blank") TechArete (Private) Ltd.
                div(class="subheading mb-3") Software Engineer
                p Lead web developer for Real-time Broadcast Monitoring and Information Exploitation System. Also worked as lead developer in development of several windows application for visual verification, monitoring and advertisement cropping.
                br
                br 
                Technology Stack
                ul
                    li Ext JS, JQuery
                    li Zend Framework
                    li MySQL
                    li C# WinForms, WPF

            div(class="resume-date text-md-right")
                span(class="text-primary") September 2013 - December 2014
