//- Main Layout
doctype html
html(lang="en")
    
    include partials/head.pug
    
    body(id="page-top")

        include partials/navigation.pug

        include partials/content.pug
        
        include partials/scripts.pug