//- Main Layout
doctype html
html(lang="en")
    
    include partials/misc/head.pug
    
    body(id="page-top")

        include partials/misc/navigation.pug

        include partials/misc/content.pug
        
        include partials/misc/scripts.pug