section(class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience")
    div(class="my-auto")

        div(class="row")
            div(class="col-9 text-left")
                h2 Experience            
            div(class="col-3 text-right mt-4")
                h6 08 years

        include partials/telenor.pug
        include partials/ht-part-time-consultancy.pug
        include partials/ht-decisions.pug
        include partials/techarete.pug
        include partials/3f-tech.pug
        include partials/hos.pug
        include partials/computer-research.pug
            